
body{
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  padding: 20px 20vw  20px 20vw ;
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

a{
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}
.top-content{
  padding: 100px 20vw  100px 20vw ;
  background-color: #1F2937;
  display: flex;
  gap: 90px;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: gray;
  color: #E5E7EB;
  flex-shrink: 0;
}

.title{
  font-size: 48px;
  color: #F9FAF8;
  font-weight: bold;
}

.title .text{
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 100;
}
.content2,
.content3 {
  padding: 50px 20vw  100px 20vw ;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.content2 .title{
  color: #1F2937;
  font-size: 36px;
  text-align: center;
}

.sign-up{
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  font-size: 18px;
}

.card .img{
  border: 4px solid #3882F6;
  border-radius: 15px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin-bottom: 10px;
}
.card{
  padding: 30px;
  width: 150px;
}

.card .text{
  font-size: 16px;
  color: #1F2937;
  font-weight: 300;
  text-align: center;
}

.cards{
  display: flex;
  justify-content: center;
}

.quote{
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.name{
  text-align: right;
  font-weight: bold;
}

.content3{
  background-color: #E5E7EB;
  padding-top: 100px;
}

.call-to-action{
  display: flex;
  padding: 100px 20vw;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #3882F6;
  padding: 30px 50px;
  border-radius: 5px;
}

.container .text .heading{
  color: #E5E7EB;
  font-size: 18px;
  font-weight: bold;
}

.container .text {
  color: #E5E7EB;
  font-size: 16px;
  font-weight: 100;
}

.container .sign-up button{
  padding: 10px 40px;
  border-radius: 10px;
  border: white 2px solid;
  background-color: #3882F6;
  color: #E5E7EB;
  font-weight: bold;
  font-size: 18px;
}

.footer{
  padding: 30px 20vw ;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #E5E7EB;
  font-weight: 100;
}